.dice-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.die,
.die-screen {
  align-items: center;
  display: flex;
  transition: all 0.2 ease-in-out;
}

.die {
  background: linear-gradient(#FFFFFF, #ECEFF1);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #263238;
  flex-flow: column;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  height: 100px;
  justify-content: center;
  margin: 10px;
  position: relative;
  width: 100px;
}

.die:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
}

::selection {
  background-color: transparent;
}

.die-screen {
  flex-flow: row nowrap;
  justify-content: space-between;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 95px;
}

.die-button {
  width: 100%;
}

.die-label, .die-input {
  font-size: 12px;
}

.die-input {
  background: none;
  border: 0;
  padding: 0 0 1px 1px;
  width: 40px;
}

.die-remove, .die-style {
  opacity: 0.25;
  transition: all 0.2s ease-in-out;
}
.die-remove:hover, .die-style:hover {
  opacity: 0.75;
}

.die-style {
  bottom: 2px;
  position: absolute;
  right: 2px;
}

.die-roll {
  font-size: 48px;
  font-weight: bold;
  height: 50%;
  margin-top: 10px;
  opacity: 1;
  transition: all 100ms ease-in-out;
  width: 50%;
}

.die-roll.rolling {
  opacity: 0.5;
}

.die-message {
  bottom: 10px;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
}
