@import './app.css';
@import './classes.css';
@import './die.css';
@import './materialIcons.css';
@import './navigation.css';
@import './styleMenu.css';
@import './customDie.css';
@import './modal.css';
@import './iconButton.css';

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

body {
  background: #37474F;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}