@import './app.css';
@import './classes.css';
@import './die.css';
@import './materialIcons.css';
@import './navigation.css';
@import './styleMenu.css';
@import './customDie.css';

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

body {
  background: #37474F;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
