.style-menu {
  background: white;
  border-radius: 4px;
  bottom: -25px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

.style-option {
  align-items: center;
  background: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: gray;
  display: flex;
  font-size: 11px;
  height: 15px;
  justify-content: center;
  margin-right: 5px;
  overflow: hidden;
  width: 15px;
}

.style-option:last-of-type {
  margin: 0;
}
